{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block styles %}{% endblock %}
    <title>{% block title %} {% endblock %} | Jobs and Careers</title>
</head>

<body>
    {% block navigation %}
    <header class="header">
        <div class="header__nav-box">
            <a href="/" class="nav-logo">
                <img src="{% static 'img/logo-white.png' %}" alt="logo" class="header__logo">
            </a>

            <nav class="header__nav-box navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item navigation__current">
                        <a href="/" class="navigation__link">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Business Brace Jobs and Careers</span>
                <span class="heading-primary--sub">Join in us changing the world with tech</span>
            </h1>

            <a href="#position" class="btn btn--white">See Positions</a>
        </div>


    </header>
    {% endblock navigation %}

    {% block content %}

    {% endblock content %}

    <footer class="footer">
        <p>&copy;2020, Business Brace.</p>
    </footer>

</body>

</html>